.authorBox {
  background-color: #f0f4f8;
  max-width: 740px;
  width: 100%;
  margin: 20px auto;
  padding: 15px;
  border-radius: 5px;
  display: flex;
}

.authorBox-image {
  max-width: 150px;
  padding-right: 15px;
}

@media only screen and (max-width: 678px) {
  .authorBox {
    display: block;
  }
}
