.btn {
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  margin: 10px;
}

.btn-purple {
  background-color: #7069fa;
  color: white;
}

.btn-purple:hover {
  background-color: #1d0ebe;
  transition: 0.2s ease;
  -o-transition: 0.2s ease;
  -ms-transition: 0.2s ease;
  -moz-transition: 0.2s ease;
  -webkit-transition: 0.2s ease;
}
