.footer {
  background-color: #f0f4f8;
  color: #102a43;
  padding: 10px 0;
  position: absolute;
  bottom: -30px;
  width: 100%;
}

.footer-line {
  height: 1px;
  border-radius: 30px;
  background-color: #102a43;
}
